* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(253, 250, 244); 
    margin: 0;
}

.navbar {
    background-color: rgb(253, 250, 244);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.flex-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.flexbox-container{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.flexbox-container-nav-links{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.flexbox-item-1 {
    flex-shrink: 0;
    width: 500px;
}

.flexbox-item-2 {
    max-width: 500px;
}

.profile-picture img{
    border-radius: 50%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.6em;
}

.flexbox-container-nav-links li {
    list-style-type: none;
    padding-left: 30px;
    font-size: 1.5em;
    color: rgb(253, 250, 244); 
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

