* {
    font-size: 16px;
    background-color: rgb(252, 247, 235); 
}

header {
    display: flex;
    justify-content: center;
}

header img {
    float: left;
    border-radius: 50%;
}


.presentation {
    float: rigth;
    padding-left: 40px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.6em;
}